<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up In</title>
</head>
<body>
<form action="/users/signup" method="post">

    <p><span>用户名</span><label for=""></label><input type="text" name="username"></p>
    <p><span>密码</span><label for=""></label><input type="password" name="password"></p>
    <p><span>邮箱</span><label for=""></label><input type="email" name="email"></p>
    <p><span></span><label for=""></label><input type="submit" name="submit" value="Sign Up"></p>

</form>
</body>
</html>