/*
 * Copyright 2007 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/* Author: attila@google.com (Attila Bodis) */
@import url(../../css/common.css);

body {
    background-color: #ffe;
    font: normal 10pt Arial, sans-serif;
}

/* Misc. styles used for logging and debugging. */
fieldset {
    padding: 4px 8px;
    margin-bottom: 1em;
}

fieldset legend {
    font-weight: bold;
    color: #036;
}

label, input {
    vertical-align: middle;
}

.hint {
    font-size: 90%;
    color: #369;
}

.goog-debug-panel {
    border: 1px solid #369;
}

.goog-debug-panel .logdiv {
    position: relative;
    width: 100%;
    height: 8em;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

.goog-debug-panel .logdiv .logmsg {
    font: normal 10px "Lucida Sans Typewriter", "Courier New", Courier, fixed;
}

.perf {
    margin: 0;
    border: 0;
    padding: 4px;
    font: italic 95% Arial, sans-serif;
    color: #999;
}

#perf {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    margin: 0;
    border: 0;
    padding: 4px;
    font: italic 95% Arial, sans-serif;
    color: #999;
}

/*
 * Copyright 2005 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Bubble styles.
 *
 * @author robbyw@google.com (Robby Walker)
 * @author nicksantos@google.com (Nick Santos)
 * @author jparent@google.com (Julie Parent)
 */

div.tr_bubble {
    position: absolute;

    background-color: #e0ecff;
    border: 1px solid #99c0ff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 83%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 19px 6px 6px;
    white-space: nowrap;
}

.tr_bubble_link {
    color: #00c;
    text-decoration: underline;
    cursor: pointer;
    font-size: 100%;
}

.tr_bubble .tr_option-link,
.tr_bubble #tr_delete-image,
.tr_bubble #tr_module-options-link {
    font-size: 83%;
}

.tr_bubble_closebox {
    position: absolute;
    cursor: default;
    background: url(//ssl.gstatic.com/editor/bubble_closebox.gif) top left no-repeat;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    top: 3px;
    right: 5px;
}

div.tr_bubble_panel {
    padding: 2px 0 1px;
}

div.tr_bubble_panel_title {
    display: none;
}

div.tr_multi_bubble div.tr_bubble_panel_title {
    margin-right: 1px;
    display: block;
    float: left;
    width: 50px;
}

div.tr_multi_bubble div.tr_bubble_panel {
    padding: 2px 0 1px;
    margin-right: 50px;
}

/*
 * Copyright 2007 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styles for Editor dialogs and their sub-components.
 *
 * @author marcosalmeida@google.com (Marcos Almeida)
 */

.tr-dialog {
    width: 475px;
}

.tr-dialog .goog-tab-content {
    margin: 0;
    border: 1px solid #6b90da;
    padding: 4px 8px;
    background: #fff;
    overflow: auto;
}

.tr-tabpane {
    font-size: 10pt;
    padding: 1.3ex 0;
}

.tr-tabpane-caption {
    font-size: 10pt;
    margin-bottom: 0.7ex;
    background-color: #fffaf5;
    line-height: 1.3em;
}

.tr-tabpane .goog-tab-content {
    border: none;
    padding: 5px 7px 1px;
}

.tr-tabpane .goog-tab {
    background-color: #fff;
    border: none;
    width: 136px;
    line-height: 1.3em;
    margin-bottom: 0.7ex;
}

.tr-tabpane .goog-tab {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.tr-tabpane .goog-tab-selected {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.tr-tabpane .goog-tab input {
    margin: -2px 5px 0 0;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * The CSS definition for everything inside equation editor dialog.
 *
 * Author: yoah@google.com (Yoah Bar-David)
 * Author: kfk@google.com (Ming Zhang)
 */

.ee-modal-dialog {
    width: 475px;
}

.ee-content {
    background: #FFF;
    border: 1px solid #369;
    overflow: auto;
    padding: 4px 8px;
}

.ee-tex {
    border: 1px solid #000;
    display: block;
    height: 7.5em;
    margin: 4px 0 10px 0;
    width: 100%;
}

.ee-section-title {
    font-weight: bold;
}

.ee-section-title-floating {
    float: left;
}

#ee-section-learn-more {
    float: right;
}

.ee-preview-container {
    border: 1px dashed #ccc;
    height: 80px;
    margin: 4px 0 10px 0;
    width: 100%;
    overflow: auto;
}

.ee-warning {
    color: #F00;
}

.ee-palette {
    border: 1px solid #aaa;
    left: 0;
    outline: none;
    position: absolute;
}

.ee-palette-table {
    border: 0;
    border-collapse: separate;
}

.ee-palette-cell {
    background: #F0F0F0;
    border: 1px solid #FFF;
    margin: 0;
    padding: 1px;
}

.ee-palette-cell-hover {
    background: #E2ECF9 !important;
    border: 1px solid #000;
    padding: 1px;
}

.ee-palette-cell-selected {
    background: #F0F0F0;
    border: 1px solid #CCC !important;
    padding: 1px;
}

.ee-menu-palette-table {
    margin-right: 10px;
}

.ee-menu-palette {
    outline: none;
    padding-top: 2px;
}

.ee-menu-palette-cell {
    background: #F0F0F0 none repeat scroll 0 0;
    border-color: #888 #AAA #AAA #888;
    border-style: solid;
    border-width: 1px;
}

.ee-menu-palette-cell-hover,
.ee-menu-palette-cell-selected {
    background: #F0F0F0;
}

.ee-palette-item,
.ee-menu-palette-item {
    background-image: url(//ssl.gstatic.com/editor/ee-palettes.gif);
}

.tr-link-dialog-explanation-text {
    font-size: 83%;
    margin-top: 15px;
}

.tr-link-dialog-target-input {
    width: 98%; /* 98% prevents scroll bars in standards mode. */
    /* Input boxes for URLs and email address should always be LTR. */
    direction: ltr;
}

.tr-link-dialog-email-warning {
    text-align: center;
    color: #c00;
    font-weight: bold;
}

.tr_pseudo-link {
    color: #00c;
    text-decoration: underline;
    cursor: pointer;
}

.goog-toolbar {
    cursor: default;
    font: normal 12px Arial, sans-serif;
    margin: 0;
    outline: none;
    /* padding: 2px; */
    position: relative;
    /* text-align: center; */
    zoom: 1;
    height: 100%;
    line-height: 28px;
    min-width: 680px;
}

/*
 * Styles used by goog.ui.ToolbarButtonRenderer.
 */

.goog-toolbar-button {
    margin: 0 2px;
    border: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    text-decoration: none;
    list-style: none;
    vertical-align: middle;
    cursor: default;
    outline: none;
    transition: all 0.4s;
}

.goog-toolbar-button:hover {
    background-color: #fff;
}

/* Pseudo-rounded corners. */
.goog-toolbar-button-outer-box,
.goog-toolbar-button-inner-box {
    border: 0;
    vertical-align: top;
}

.goog-toolbar-button-outer-box {
    margin: 0;
    padding: 0;
}

.goog-toolbar-button-inner-box {
    margin: 0;
    padding: 0;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-inner-box {
    /* IE6 needs to have the box shifted to make the borders line up. */
    left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-toolbar-button-rtl .goog-toolbar-button-outer-box {
    /* @noflip */
    left: -1px;
}

* html .goog-toolbar-button-rtl .goog-toolbar-button-inner-box {
    /* @noflip */
    right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child + html .goog-toolbar-button-inner-box {
    /* IE7 needs to have the box shifted to make the borders line up. */
    left: -1px;
}

/* IE7 BiDi fix. */
*:first-child + html .goog-toolbar-button-rtl .goog-toolbar-button-inner-box {
    /* @noflip */
    left: 1px;
    /* @noflip */
    right: auto;
}

/* Safari-only hacks. */
::root .goog-toolbar-button,
::root .goog-toolbar-button-outer-box {
    /* Required to make pseudo-rounded corners work on Safari. */
    line-height: 0;
}

::root .goog-toolbar-button-inner-box {
    /* Required to make pseudo-rounded corners work on Safari. */
    line-height: normal;
}

/* Disabled styles. */
.goog-toolbar-button-disabled {
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity=30);
}

.goog-toolbar-button-disabled .goog-toolbar-button-outer-box,
.goog-toolbar-button-disabled .goog-toolbar-button-inner-box {
    /* Disabled text/border color trumps everything else. */
    color: #333 !important;
    border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-disabled {
    /* IE can't apply alpha to an element with a transparent background... */
    background-color: #f0f0f0;
    margin: 0 1px;
    padding: 0 1px;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child + html .goog-toolbar-button-disabled {
    /* IE can't apply alpha to an element with a transparent background... */
    background-color: #f0f0f0;
    margin: 0 0;
    padding: 0 0;
}

/* Only draw borders when in a non-default state. */
.goog-toolbar-button-hover .goog-toolbar-button-outer-box,
.goog-toolbar-button-active .goog-toolbar-button-outer-box,
.goog-toolbar-button-checked .goog-toolbar-button-outer-box,
.goog-toolbar-button-selected .goog-toolbar-button-outer-box {
    /*border-width: 1px 0;*/
    /*border-style: solid;*/
    background-color: #696969;
    padding: 0;
}

.goog-toolbar-button-hover .goog-toolbar-button-inner-box,
.goog-toolbar-button-active .goog-toolbar-button-inner-box,
.goog-toolbar-button-checked .goog-toolbar-button-inner-box,
.goog-toolbar-button-selected .goog-toolbar-button-inner-box {
    background-color: #fff;
    /*padding: 3px;*/
}

/* Hover styles. */
.goog-toolbar-button-hover .goog-toolbar-button-outer-box,
.goog-toolbar-button-hover .goog-toolbar-button-inner-box {
    /* Hover border style wins over active/checked/selected. */
    border-color: #a1badf !important;
}

/* Active/checked/selected styles. */
.goog-toolbar-button-active,
.goog-toolbar-button-checked,
.goog-toolbar-button-selected {
    /* Active/checked/selected background color always wins. */
    background-color: #dde1eb !important;
}

.goog-toolbar-button-active .goog-toolbar-button-outer-box,
.goog-toolbar-button-active .goog-toolbar-button-inner-box,
.goog-toolbar-button-checked .goog-toolbar-button-outer-box,
.goog-toolbar-button-checked .goog-toolbar-button-inner-box,
.goog-toolbar-button-selected .goog-toolbar-button-outer-box,
.goog-toolbar-button-selected .goog-toolbar-button-inner-box {
    cursor: pointer;
    border: none;
    background-color: #e6e6e6;
}

/* Pill (collapsed border) styles. */
.goog-toolbar-button-collapse-right,
.goog-toolbar-button-collapse-right .goog-toolbar-button-outer-box,
.goog-toolbar-button-collapse-right .goog-toolbar-button-inner-box {
    margin-right: 0;
}

.goog-toolbar-button-collapse-left,
.goog-toolbar-button-collapse-left .goog-toolbar-button-outer-box,
.goog-toolbar-button-collapse-left .goog-toolbar-button-inner-box {
    margin-left: 0;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-button-collapse-left .goog-toolbar-button-inner-box {
    left: 0;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child + html .goog-toolbar-button-collapse-left
.goog-toolbar-button-inner-box {
    left: 0;
}

/*
 * Styles used by goog.ui.ToolbarMenuButtonRenderer.
 */

.goog-toolbar-menu-button {
    margin: 0 2px;
    border: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    text-decoration: none;
    list-style: none;
    vertical-align: middle;
    cursor: default;
    outline: none;
}

/* Pseudo-rounded corners. */
.goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-inner-box {
    border: 0;
    vertical-align: top;
}

.goog-toolbar-menu-button-outer-box {
    margin: 0;
    padding: 1px 0;
}

.goog-toolbar-menu-button-inner-box {
    margin: 0 -1px;
    padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-menu-button-inner-box {
    /* IE6 needs to have the box shifted to make the borders line up. */
    left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-toolbar-menu-button-rtl .goog-toolbar-menu-button-outer-box {
    /* @noflip */
    left: -1px;
}

* html .goog-toolbar-menu-button-rtl .goog-toolbar-menu-button-inner-box {
    /* @noflip */
    right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child + html .goog-toolbar-menu-button-inner-box {
    /* IE7 needs to have the box shifted to make the borders line up. */
    left: -1px;
}

/* IE7 BiDi fix. */
*:first-child + html .goog-toolbar-menu-button-rtl
.goog-toolbar-menu-button-inner-box {
    /* @noflip */
    left: 1px;
    /* @noflip */
    right: auto;
}

/* Safari-only hacks. */
::root .goog-toolbar-menu-button,
::root .goog-toolbar-menu-button-outer-box,
::root .goog-toolbar-menu-button-inner-box {
    /* Required to make pseudo-rounded corners work on Safari. */
    line-height: 0;
}

::root .goog-toolbar-menu-button-caption,
::root .goog-toolbar-menu-button-dropdown {
    /* Required to make pseudo-rounded corners work on Safari. */
    line-height: normal;
}

/* Disabled styles. */
.goog-toolbar-menu-button-disabled {
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity=30);
}

.goog-toolbar-menu-button-disabled .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-disabled .goog-toolbar-menu-button-inner-box {
    /* Disabled text/border color trumps everything else. */
    color: #333 !important;
    border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-toolbar-menu-button-disabled {
    /* IE can't apply alpha to an element with a transparent background... */
    background-color: #f0f0f0;
    margin: 0 1px;
    padding: 0 1px;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child + html .goog-toolbar-menu-button-disabled {
    /* IE can't apply alpha to an element with a transparent background... */
    background-color: #f0f0f0;
    margin: 0 1px;
    padding: 0 1px;
}

/* Only draw borders when in a non-default state. */
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-outer-box {
    border-width: 1px 0;
    border-style: solid;
    padding: 0;
}

.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-inner-box {
    border-width: 0 1px;
    border-style: solid;
    padding: 3px;
}

/* Hover styles. */
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-hover .goog-toolbar-menu-button-inner-box {
    /* Hover border color trumps active/open style. */
    border-color: #a1badf !important;
}

/* Active/open styles. */
.goog-toolbar-menu-button-active,
.goog-toolbar-menu-button-open {
    /* Active/open background color wins. */
    background-color: #dde1eb !important;
}

.goog-toolbar-menu-button-active .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-active .goog-toolbar-menu-button-inner-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-outer-box,
.goog-toolbar-menu-button-open .goog-toolbar-menu-button-inner-box {
    border-color: #729bd1;
}

/* Menu button caption style. */
.goog-toolbar-menu-button-caption {
    padding: 0 4px 0 0;
    vertical-align: middle;
}

/*
 * Styles used by goog.ui.ToolbarSeparatorRenderer.
 */

.goog-toolbar-separator {
    margin: 0 2px;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #f7f7f7;
    padding: 0;
    width: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    vertical-align: middle;
    line-height: normal;
    font-size: 120%;
    overflow: hidden;
}

/*
 * Additional styling for toolbar select controls, which always have borders.
 */

.goog-toolbar-select .goog-toolbar-menu-button-outer-box {
    border-width: 1px 0;
    border-style: solid;
    padding: 0;
}

.goog-toolbar-select .goog-toolbar-menu-button-inner-box {
    border-width: 0 1px;
    border-style: solid;
    padding: 3px;
}

.goog-toolbar-select .goog-toolbar-menu-button-outer-box,
.goog-toolbar-select .goog-toolbar-menu-button-inner-box {
    border: none;
}
